/* Nav */
body{
  background-color:#f4f5f9;
}
.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000000;
  }
  ul{
    display: flex;
    justify-content: space-between;
  }
  .list_header {
    float: left;
    padding: 5px;
  }
  
  .list_header .a_header {
    display: block;
    color: #f1404b;
    
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .list_header .a_header:hover {
    background-color: whitesmoke;
  }
  
  #active {
    background-color: whitesmoke;
  }

.container{
    margin: 10px;
    padding: 0px;
    display: flex;
    justify-content: center;
    color: #f1404b;
    

}
.contenu{
    margin: 10px;
    display: flex;
    justify-content: center;
  

  
}
.envoyer{
    margin: 10px;
    display: flex;
    justify-content: center;
    color:blue;

}
.border{
    margin: 115px;
    border: solid #252c41 3px;
    height: 220px;
    padding: 60px;
 }
 .input{
    margin: 10px;
    display: flex;
    justify-content: center;
    
 }
 button , h1 , textarea , input {
    color: #f1404b;
     
 }