body{
    background-color: #f4f5f9;
  }
.texte{
    margin: 65px;
    
    height: 400px;
    padding: 15px;
}
ul{
    display: flex;
    justify-content: space-between;
  }
.titre{
    margin: 10px;
    padding: 0px;
    display: flex;
    justify-content: center;
}
.contenu{
    margin: 65px;
    border: solid black 3px;
    height: 220px;
    padding: 15px;
}
.cadre
{
    /* width: 3em;
    height: 1em; */
    border: solid 1px #000;
    margin: 1em;
}
.commentaire{
    margin: 10px;
    padding: 0px;
    display: flex;
    justify-content: center;
}
.poster_un_commentaire{
    margin: 10px;
    padding: 0px;
    display: flex;
    justify-content: center;
}
.envoyer{
    margin: 10px;
    padding: 0px;
    display: flex;
    justify-content: center;
}
.ecrivez{
    margin: 10px;
    padding: 0px;
    display: flex;
    justify-content: center;
}