.container {
    border: 2px solid blue;
    margin: 20px 20px;
    padding: 15px 15px;
}

h1 , h2 , hr , button , a {
    color: blue;
}
ul{
    display: flex;
    justify-content: space-between;
  }