/* Nav */
body{
  background-color: #f4f5f9;
}
.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000000;
  }
  ul{
    display: flex;
    justify-content: space-between;
  }
  
  .list_header {
    float: left;
    padding: 5px;
  }
  
  .list_header .a_header {
    display: block;
    color: #f1404b;
  
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .list_header .a_header {
    background-color: whitesmoke;
  }
  
  #active {
    background-color: whitesmoke;
  }

/* Body */
h1 , p , button {
    color: #f1404b;

}
  